body {
    font-family: 'Josefin Sans', sans-serif;
    background: #E0F2F7;
    background-position: center;
}

.title h1 {
    text-align: center;
    color: #B43104;
}

.table {
    margin: 20px 0px;
}